<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Diese Webapp..">
    <meta name="author" content="">
    <title>Car Buddies</title>

<!-- CSS DATEIEN -->
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../css/clean-blog.min.css" rel="stylesheet">
    
    <!-- HEADER / FOOTER und MENU CSS - muss in jede html-Datei -->
    <link href="../css/header.css" rel="stylesheet" type="text/css">
    <link href="../css/menu.css" rel="stylesheet" type="text/css">
    <link href="../css/footer.css" rel="stylesheet" type="text/css">
    
    <!-- LOGIN CSS -->
    <link href="../css/login.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     
    
    
   
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../js/clean-blog.min.js"></script> 
    
</head>

    
    
<body>

<!-- Navigation / MENÜ ========================================================================================================================= -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <!-- CAR BUDDIES Section-->
                <div class="car_buddies__logo_section">
                    <!-- Logo -->
                    <div class="col-lg-4 col-xs-12">
                        <img src="../img/cb_logo.png"/> 
                    </div>
                    <!-- Schrift  -->
                    <div class="col-lg-8 col-xs-12">
                        <span>
                            <a class="navbar-brand" href="index.html">Car Buddies</a>
                        </span>
                    </div>
                </div>
                
            </div>
        </div>
    </nav>


<!-- Header  ========================================================================================================================= -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 car_buddies__search_section_title">
                    <div class="site-heading col-lg-5 col-xs-12 col-lg-offset-4 car_buddies__search_title">
                        <h1>Login</h1>
                    </div>
                    <div class="title_border  col-lg-5 col-xs-12"></div>
                </div>
            </div>
        </div>
    </header>

    
<!-- Main Content ========================================================================================================================= -->
    <section>
        <div class="container">
            <div class="row">
                
                
                <!-- SIGN IN BLOCK ========================================================= -->
                <form class="car__login col-lg-12 " id="login" name="login">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-lg-offset-3 car__login_window">
                        <!-- Email Adresse -->
                        <div class="col-lg-12 form-group">
                            <label for="email_adress">Email-Adresse</label>
                            <input type="email" class="form-control" id="email_adress" placeholder="Email-Adresse eingeben">
                        </div>
                        <!-- Passwort -->
                        <div class="col-lg-12 form-group">
                            <label for="password">Passwort</label>
                            <input type="password" class="form-control" id="password" placeholder="Passwort eingeben">
                        </div>
                        <!-- Passwort vergessen / Wenn das Passwort vergessen wurden ist, dann soll eine Mail mit einem automatisch generiertem PW an die angegebene Email-Adresse gesendet werden. Das PW kann dann im Benutzerkonto geändert werden.-->
                        <div class="col-lg-12 forgot_password">
                            <span>Passwort vergessen?</span>
                        </div>
                        <!-- BUTTONS ===========-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 car__btn_section">
                            <!-- ANMELDEN -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="btn_login">
                                <a class="btn btn_sign_in" href="Verlinkung zur Stratseite, wenn anmelde Daten stimmen">Anmelden</a>
                            </div>
                            <!-- NEUES KONTO  -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 btn_new_account_col" id="btn_new_account">
                                <a class="btn btn_new_account" href="Verlinkung zum New Account Formular">Neues Konto</a>
                            </div>
                        </div>
                    </div>
                </form>
                
                
                <!-- NEUES Konto erstellen Fenster; Öffnet sich wenn im Anmelde-Fenster der "Neues Konto: btn_new_account" gedrückt wurde. Wenn dieses Fenster sich öffnet verschiwndet das Login Fenster und dieses taucht an dessen stelle auf  ========================================================= -->
                <form class="car__login col-lg-12 " id="new_account" name="new_account">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-lg-offset-3 car__login_window">
                        <!-- FEHLERMELDUNG, taucht nur nach Klick auf den BTN auf,  wenn etwas nicht ausgefüllt wurden ist -->
                        <div class="col-lg-12 error_text" id="error_text">
                            <span> Sie haben nicht alles ausgefüllt! </span>
                        </div>
                        
                        <div class="col-lg-12">
                            <h3>Neues Konto erstellen</h3>
                        </div>
                        <!-- Vorname -->
                        <div class="col-lg-6 form-group">
                            <label for="firstname">Vorname</label>
                            <input type="firstname" class="form-control" id="firstname" placeholder="Vorname eingeben ">
                        </div>
                        <!-- Nachname -->
                        <div class="col-lg-6 form-group">
                            <label for="lastname">Nachname</label>
                            <input type="lastname" class="form-control" id="lastname" placeholder="Nachname eingeben">
                        </div>
                        <!-- Email Adresse -->
                        <div class="col-lg-12 form-group">
                            <label for="email_adress">Email-Adresse</label>
                            <input type="email" class="form-control" id="email_adress" placeholder="Email-Adresse eingeben">
                        </div>
                        <!-- Passwort  -->
                        <div class="col-lg-6 form-group">
                            <label for="password">Passwort</label>
                            <input type="password" class="form-control" id="password" placeholder="Passwort eingeben">
                        </div>
                        <!-- PW wiederholen  -->
                        <div class="col-lg-6 form-group">
                            <label for="repeat_password">Passwort Wiederholen</label>
                            <input type="repeat_password" class="form-control" id="repeat_password" placeholder="Passwort wiederholen">
                        </div>
                        
                        
                        <!-- BUTTONS ========================================================= -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 car__btn_section">
                            <!-- Fertig, Daten werden in DB gespeichert. Man kommt jetzt auf das LOGIN-Fenster zurück und kann sich anmelden -->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="btn_create_new_account">
                                <a class="btn btn_create_new_account" href="Verlinkung zum Login Fenster">Neues Konto erstellen</a>
                            </div>
                        </div>
                    </div>
                </form>
                
                
            </div>
        </div>
    </section>


    
    
    <!-- Footer ========================================================================================================================= -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<!-- Footer kommt später
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
-->
                    <p class="copyright text-muted">Copyright &copy; Car Buddies 2016</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
